@import "/src/styles/mixins/colors.scss";

.container {
    padding: 34px 180px;
    width: 100%;
    background-color: $Purple;
    border-bottom: 0.5px solid $Gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-size: 22px;
    color: $White;
    a + a {
        margin-left: 38.9px;
    }
}
